@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #181818;
    color: #e7e7e7;
    padding-left: 2%;
    padding-right: 2%;

    font-family: 'Poppins', 'Montserrat', Arial, sans-serif;
    text-align: left;
}

h1 {
    margin-block-start: .67em;
    margin-block-end: .67em;
}

h2 {
    margin-block-start: .83em;
    margin-block-end: .83em;
}

h3 {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

nav {
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #e7e7e7;
}

nav ul li a:hover{
    color: #7b7b7b;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #181818;
    color: #e7e7e7;

    padding: 14px 20px;
    margin: 8px 0;
    width: 30%;

    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    opacity: 0.8;
}

/* CLASSES */
.header {
    padding: 10px;
}

.header_section {
    font-size: 1.3rem;
    text-align: left;
    margin-bottom: 5rem;
    font-weight: 600;

}

.section {
    background-color: #e7e7e7;
    color: #181818;
    border-radius: 10px;
   
    padding: 20px;
}

.login_page {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}

.sign_in_page {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}
.cancelbtn {
    width: auto;
    background-color: #f44336;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.main-logo {
    border-radius: 30%;
    width: 120px;
    height: 100px; 
}

.img-cover > img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 5px;
    transition: transform .15s;
}

.img-cover > img:hover {
    transform: translate(0px, -3px);
}

/* IDs */
