@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #181818;
    color: #fff;
    padding-left: 5%;
    padding-right: 5%;

    font-family: 'Poppins', 'Montserrat', Arial, sans-serif;
    text-align: left;
}

h1 {
    margin-block-start: .67em;
    margin-block-end: .67em;
}

h2 {
    margin-block-start: .83em;
    margin-block-end: .83em;
}

h3 {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

/* CLASSES */


/* IDs */
